@import url("./reset.css");
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

/* Main page style */
body {
  background-color: #3a425d !important;
}

/* Blog style */
.blog-rows {
  display: block;
  margin: 0 auto !important;
}
.blog-rows a {
  color: #222;
  text-decoration: none;
}
.blog-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  outline: 5px solid #222;
  height: auto;
  max-height: 200px;
  overflow: hidden;
  width: 100% !important;
  padding: 30px 35px;
  box-sizing: border-box;
  margin-bottom: 50px;
  position: relative;
  box-shadow: 20px 20px #fcaf3e;
  transition: box-shadow 0.15s ease-in;
}
.blog-card:hover {
  box-shadow: 15px 15px #fcaf3e;
}
.blog-card .blog-title {
  font-size: 32px;
  margin-bottom: 30px;
}
.blog-card span {
  font-size: 14px;
  color: #fcaf3e;
}

/* Responsive */
@media only screen and (max-width: 414px) {
  .title-landing,
  .desc-landing {
    text-align: center;
    width: 100%;
    max-width: 100% !important;
  }
  .title-landing {
    font-size: 32px !important;
  }
  .desc-landing {
    font-size: 12px !important;
    line-height: normal !important;
  }
}

@media only screen and (max-width: 1024px) {
  .title-landing,
  .desc-landing {
    text-align: left;
    width: 100%;
    max-width: 100% !important;
  }
}

.box {
  content: "";
  position: absolute;
  width: 200px;
  height: 290px;
  background-color: rgb(248, 209, 150);
  border: 3px solid #222;
  z-index: -1;
  right: 0;
  top: -50px;
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* box-shadow: 0 10px 50px rgba(0, 0, 0, .3); */
}
.box::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 250px;
  background-color: #d0a3b0;
  border: 3px solid #222;
  z-index: -1;
  right: 100px;
  top: 90px;
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  /* box-shadow: 0 10px 50px rgba(0, 0, 0, .3); */
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
