@import url("./reset.css");
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500&display=swap");
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

/* Responsive */
@media only screen and (max-width: 414px) {
  .title-landing,
  .desc-landing {
    text-align: center;
    width: 100%;
    max-width: 100% !important;
  }
  .title-landing {
    font-size: 32px !important;
  }
  .desc-landing {
    font-size: 12px !important;
    line-height: normal !important;
  }
}

@media only screen and (max-width: 1024px) {
  .title-landing,
  .desc-landing {
    text-align: left;
    width: 100%;
    max-width: 100% !important;
  }
}
